<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/bootstrap.css">
	<link rel="stylesheet" href="/confetti_cuisine.css">
	<title>CONTACT</title>
</head>
<body>
	<nav>
		<h1>CONFETTI CUISINE</h1>
		<button>Home</button>
		<button>Courses</button>
		<button>Contact</button>
	</nav>
	<form class="contact-form" action="/" method="post">
		<input type="email" name="email" required>
		<input class="button" type="submit" value="submit">
	</form>
</body>
</html>